<h2>Create a new book</h2>
<form action="/books" method="post">

  <!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <!-- Fields to be filled by user: -->
  <br />
  <label for="title"> Title: </label>
  <br />
  <input type="text" name="book[title]" value="" id="title">

  <br />
  <label for="author"> Author: </label>
  <br />
  <input type="text" name="book[author]" id="author">
  <!--  puting book[author] will make it come back as a nested hash -->

  <br />
  <label for="description"> Description: </label>
  <br />
  <textarea name="book[description]" id="description">  </textarea>
  <!-- u can write something inside of it if u want-->

  <!-- button -->
  <br />
  <input type="submit" name="submit" value="Create Book">

</form>
